@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #141E46;
    --pale-dark: #23326e;
    --red: #BB2525;
    --creme-red: #FF6969;
    --creme: #FFF5E0;
    --green: #03C988;

    --white: #FFF;
    --fade-grey: #EFEFEF;
    --hover-grey: #DEDEDE;
    --grey: #CDCDCD;
    --black: #000;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--fade-grey);
}
