.success-page-container {
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    
    h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1.15rem;
        font-weight: 300;
    }

    .button-container {
        margin-left: unset;
    }
}